@using WebApp.ViewModels;
@model IEnumerable<BeerModel>;
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="row">
    @foreach (var beer in Model)
    {
        <div class="col-xs-4 col-md-4">
            <a href="#" class="thumbnail wrapper">
                <img src="@beer.ImageUrl" alt="...">
                <div class="footer">
                    <span class="label pull-left">&nbsp;@beer.Name</span>
                    <span class="label pull-right"><i class="fas fa-thumbtack"></i>&nbsp;@beer.Country</span>
                </div>
            </a>            
        </div>
    }
</div>

<style>
    .wrapper {
        width: 300px;
        height: 340px;
        overflow: hidden;
        background-size: cover;
    }

    .footer {
        background-color: rgba(0,0,0, 0.8);
        height: 40px;
        color: white;
        bottom: 0;
    }

    .footer .label {
        font-size: 15px;
        margin-top: 7px;
        font-family: 'Pacifico', cursive;
        font-weight:100;
    }
</style>
