.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
docker-compose.dcproj
*.sln
*.md
hosts
LICENSE
*.testsettings
test
readme
img
Components
**/bin/
**/obj/
**/node_modules/
**/bower_components/
global.json
**/appsettings.localhost.json
